{% set my_tags = blog_tags('default', 250) %}
  {% set currentURL = content.absolute_url|regex_replace('^(http|https):', '') %}

  <nav class="blog-tag-filter" aria-label="Blog tag menu">
    <ul class="blog-tag-filter__menu">
      <li class="blog-tag-filter__menu-item">
        <a href="{{ group.absolute_url }}" class="{% if currentURL == group.absolute_url|regex_replace('^(http|https):', '') %}blog-tag-filter__menu-link--active-item {% endif %}blog-tag-filter__menu-link">{{ module.all_articles_text }}</a>
      </li>
      {% for item in my_tags %}
        <li class="blog-tag-filter__menu-item">
          <a href="{{ blog_tag_url(group.id, item.slug) }}" class="{% if currentURL == blog_tag_url(group.id, item.slug)|regex_replace('^(http|https):', '') %}blog-tag-filter__menu-link--active-item {% endif %}blog-tag-filter__menu-link">{{ item }}</a>
        </li>
      {% endfor %}
    </ul>
  </nav>